.bill-modal {
  margin-top: 100px; // delete
  @include modalBox($wsize: 500px, $hsize: 500px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(122, 122, 122);

  h3 {
    margin-bottom: 20px;
  }

  time {}

  .input-container {
    .bill-modal__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .container-category{

      }

      .container-price,
      .container-content,
      .container-payment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .form__input {
        @include contentForm;
        padding: 0;
        width: 200px;
      }
    }

    .form__button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

      .bill-modal__modified {
        @include modifiedBtn;
      }
    }
  }

  .bill-modal__closed {
    @include closeBtn;
  }
  .bill-modal__deleted {
    @include deltedBtn;
  }
}