.bill-modal {
  @include modalBox($wsize: 350px, $hsize: 500px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .bill-modal__header {
    margin-bottom: 20px;
  }
  
  .input-container {
    color: rgb(122, 122, 122);
    .bill-modal__form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .container-category {
        margin: 20px 0;
        label{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .category__input {
            @include labelBtn($bg: rgb(random(256), random(256), random(256)));
          }
          span{
            margin-top: 10px;
            font-weight: bold;
          }
        }
      }

      .container-price,
      .container-content,
      .container-payment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        font-size: 1.8rem;
      }

      .form__input {
        @include contentForm;
        margin-left: 20px;
        width: 200px;
      }
    }

    .form__button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;

      .bill-modal__modified {
        @include modifiedBtn;
      }
    }
  }

  .bill-modal__closed {
    @include closeBtn;
  }

  .bill-modal__deleted {
    @include deletedBtn;
  }
}