.header {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background: #EBAD01;
  background: $mainBg-color;
  color: #fff;
  font-size: 2.5rem;
  padding: 30px;

  .header__chart {
    font-size: 3.6rem;
    font-size: 3rem;
    color: #e2e9f3;
  }

  .header__prev, .header__next {
    color: #e2e9f3;
  }

  .header__month {

    .month__num {}

  }

  .header__add {
    font-size: 3rem;
    color: #e2e9f3;
  }
}