.header {
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $mainBg-color;
  color: #fff;
  font-size: 2rem;
  padding: 30px;

  .header__btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .header__chart,
    .header__home {
      font-size: 3rem;
      color: #fff;
      margin-left: 15px;

      &:hover {
        color: rgb(224, 224, 224);
      }
    }
  }

  .header__prev,
  .header__next {
    font-size: 2rem;
    color: #fff;

    &:hover {
      color: rgb(218, 218, 218);
    }
  }

  .header__date {
    display: flex;
    flex-flow: row nowrap;

    .date__year,
    .date__month {
      margin-right: 10px;

      .month__num {
        display: inline-block;
        width: 25px;
        padding-right: 1px;
        text-align: right;
      }
    }
  }

  .header__add {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
    font-size: 2.8rem;
    color: $mainBg-color;
    background-color: #fff;
    line-height: 1.4;

    &:hover {
      background-color: #ffd000;
      // color: rgb(218, 218, 218);
    }
  }
}