.income-modal {
  @include modalBox;
  position: relative;
  
  .income-modal__back {
    @include backBtn;
  }

  .income-modal__price {
    @include priceForm($income-color);
  }

  .income-modal__content {
    @include contentForm;
  }

  .income-modal__category {
    display: flex;
    flex-flow: row wrap;

    span {
      display: block;
      text-align: center;
      margin-top: 5px;
    }

    label {
      cursor: pointer;
    }

    $lists: (salary, allowance);
    @each $list in $lists {
      ##{$list} {
        @include labelBtn($bg: rgb(random(256), random(256), random(256)));
      }
    }
  }
  
  .btn-close {
    @include closeBtn;
  }
}