.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 999;
  display: none;
}

.modal {
  @include modalBox;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  transform:translate(-50%, -85%);
  z-index: 1000;
  display: none;
}