.outcome-modal {
  @include modalBox($hsize: auto);
  position: relative;
  display: none;

  .outcome-modal__back {
    @include backBtn;
  }

  .outcome-modal__price {
    @include priceForm($outcome-color);
  }

  .outcome-modal__content {
    @include contentForm;
  }

  .outcome-modal__category {
    display: flex;
    flex-flow: row wrap;

    span {
      display: block;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 15px;
    }

    label {
      cursor: pointer;
    }

    $lists: (
      food,
      transportation,
      culture,
      daily,
      clothing,
      beauty,
      health,
      education,
      beauty,
      communication,
      dues,
      cac,
      saving,
      appliance,
      bill,
      card
    );

    @each $list in $lists {
      ##{$list} {
        @include labelBtn($bg: rgb(random(256), random(256), random(256)));
      }
    }
  }

  .btn-close {
    @include closeBtn;
  }
}