.calendar-container {
  display: grid;
  grid-template-rows: 35px repeat(6, 100px);
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 2rem;
  line-height: 2;
  border-bottom: 1px solid rgb(126, 126, 126);

  .calendar__day {
    color:rgb(197, 197, 197);
    font-size: 1.7rem;
    border-bottom: 1px solid currentColor;
  }

  .selected {
    background-color: $mainBg-color;
    color: #fff;
    box-shadow: 0 0 1px 0;

    &.calendar-cell > .calendar-cell__income,
    &.calendar-cell > .calendar-cell__outcome {
      color: #fff;
    }

    &.calendar-cell.sun,
    &.calendar-cell.sat {
      color: #fff;
    }

    &.calendar-cell:hover {
      background-color: $mainBg-color;
    }
  }

  .calendar-cell {
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: #ebebeb;
    }

    span {
      height: 20px;
      font-size: 1.6rem;
      line-height: 1.5;
    }

    .calendar-cell__income {
      display: none;
      color: rgb(12, 189, 12);
    }
  
    .calendar-cell__outcome {
      display: none;
      color: rgb(234, 115, 250);
    }
  }
  
  .sun {
    color: red;
  }
  
  .sat {
    color: blue;
  }

  .calendar__not-present-month {
    color:rgb(202, 202, 202);

    .calendar-cell__income, .calendar-cell__outcome {
      color: rgb(202, 202, 202);
    }
  }
}