.calendar-container {
  display: grid;
  grid-template-rows: 35px repeat(6, 100px);
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 2rem;
  line-height: 2;

  .calendar__day {
    color:rgb(197, 197, 197);
    font-size: 1.7rem;
    border-bottom: 1px solid currentColor;
  }

  .calendar-sell {
    cursor: pointer;
    &:hover {
      background-color: #ebebeb;
    }

    span {
      display: block;
      height: 20px;
      font-size: 1.6rem;
      line-height: 1.5;
    }

    .calendar-sell__income {
      color: rgb(12, 189, 12);
    }
  
    .calendar-sell__outcome {
      color: rgb(234, 115, 250);
    }
    
  }
  .sun {
    color: red;
  }
  .sat {
    color: blue;
  }

  .calendar__not-present-month {
    color:rgb(202, 202, 202)
  }
}