.amount-section {
  background-color: $modalBg-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 15px;
  border-bottom: 1px solid #c5c5c5;

  .income__title, .outcome__title, .total__title {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    width: 130px;
  }

  .amount-section__income{
    text-align: center;
    .income__price{
      display: inline-block;
      color: $income-color;
      font-size: 2.3rem;
      width: 130px;
    }
  }

  .amount-section__outcome{
    text-align: center;
    .outcome__price{
      display: inline-block;
      color: $outcome-color;
      font-size: 2.3rem;
      width: 130px;
    }
  }

  .amount-section__total{
    text-align: center;
    .total__price{
      display: inline-block;
      color: $base-color;
      font-size: 2.3rem;
      width: 130px;
    }
  }
}