.chart-container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .chart__header {
    background-color: $modalBg-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: center;

    .header__btn {
      .btn__income {
        @include roundSquareBtn($wsize: 100px, $hsize: 30px, $bc: $income-color);
        border-radius: 20px;
        color: #fff;
        margin: 10px 0;
        padding: 10px inherit;
      }

      .btn__outcome {
        @include roundSquareBtn($wsize: 100px, $hsize: 30px, $bc: $outcome-color);
        border-radius: 20px;
        color: #fff;
        margin: 10px 0;
        padding: 10px inherit;
      }
    }
  }

  .chart__main {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    #doughnut {
      margin: 10px auto;
    }

    .main__total {
      position: absolute;
      right: 10%;
      top: 20%;

      .total__income,
      .total__outcome {
        display: flex;
        flex-flow: row;
        align-items: baseline;
        justify-content: space-around;
        font-size: 1.5rem;
        margin-bottom: 15px;

        span {
          font-size: 2.8rem;
          margin-left: 10px;
        }
        .unit {
          font-size: 1rem;
        }

        .income__price {
          color: $income-color;
          width: 130px;
          text-align: right;
        }
        
        .outcome__price {
          color: $outcome-color;
          width: 130px;
          text-align: right;
        }
      }
    }

    .main__detail {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .detail__list {
        width: 50%;
        padding-top: 18px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        
        li {
          width: 400px;
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;
          margin-top: 15px;
          padding: 0 10px 10px 10px;
          border-bottom: 1px dashed rgb(206, 206, 206);

          span {
            font-size: 1.2rem;
          }
          .list__payment{
            margin-left: 40px;
          }

          .list__content {
            text-align: center;
            width: 110px;
          }
          .list__price {
            text-align: right;
            width: 70px;
          }
          .list__content,
          .list__price {
            display:inline-block;
            margin-left: 30px;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}