.consumption-container {
  background-color: #f4f4f4;
  width: 960px;
}

.consumption-container.hidden {
  display: none;
  // width: 960px;
}

.consumption-list {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px white;
  padding: 10px 5px;
}

.delete-button {
  zoom: 1.5;
}

.consumption-list__total {
  width: 500px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
}

.consumption-list__total>span:first-child {
  margin-top: 8px;
  margin-left: 15px;
}

.consumption-list__total>span:last-child {
  font-size: 5rem;
}

.consumption-list__detail {
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  span {
    margin: 0 10px;
  }
}

.consumption-detail {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 3px white;


  span {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 80px;
  }

  button {
    font-size: 2.5rem;
    cursor: pointer;
  }
}

.consumption-detail-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: start;
  flex-wrap: wrap;
  overflow: hidden auto;
  height: 500px;

  li {
    width: 100%;
    margin: 12px 0;
    padding: 0 10px;

    label {
      display: inline-block;
      display: flex;
      justify-content: space-around;
      flex-flow: row;
      align-items: center;

      span {
        font-size: 2.5rem;
      }
    }

    #categorybadge {
      @include labelBtn($bg: rgb(random(256), random(256), random(256)));
    }

    span {
      font-size: 2.0rem;
    }
  }
}