.consumption-container {
  width: 960px;
}



.consumption-list {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px white;
  padding: 10px 5px;
}

.delete-button {
  zoom: 1.5;
}

.consumption-list__total {
  width: 500px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
}

.consumption-list__total>span:first-child {
  margin-top: 8px;
  margin-left: 15px;
}

.consumption-list__total>span:last-child {
  font-size: 5rem;
}

.consumption-list__detail {
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  span {
    margin: 0 10px;
  }
}

.consumption-detail {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 3px white;


  span {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 80px;
  }

  button {
    font-size: 2.5rem;
    cursor: pointer;
  }
}

.consumption-detail__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: start;
  flex-wrap: wrap;
  overflow: hidden auto;
  height: 180px;

  li {
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #e0e0e0e0;
    line-height: 2;

    label {
      display: inline-block;
      display: flex;
      justify-content: space-between;
      flex-flow: row;
      align-items: center;
      padding-right: 11px;

      div {
        width: 140px;

        input {
          height: 20px;
        }
      }

      span {
        font-size: 2rem;
      }
    }

    #categorybadge {
      @include labelBtn($bg: rgb(random(256), random(256), random(256)));
      margin-right: 0;
      zoom: 0.8;
    }

  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6b6d74;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

}